/*
0-600PX      - PHONE 
600PX-900PX  - TABLET & PORTRAIT
900PX-1200PX - TABLET & LANDSCAPE 
1200PX-1800  - DESKTOPS
1800+        - BIG DESKTOPS


$BREAKPOINTS ARGUMENT CHOICES 
-PHONE 
-TAB-PORT
-TAB-LAND
-BIG-DESKTOP

ORDER - BASE+ TYPOGRAPHY >BASE LAYOUT +GRID >PAGE LAYOUT

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  color: grey;
  padding: 2rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

body {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.7; }

.heading-secondary {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  background-image: linear-gradient(to left, rgba(139, 240, 121, 0.856), rgba(64, 214, 114, 0.539));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.4s;
  letter-spacing: 2px;
  margin-bottom: 10rem; }
  .heading-secondary:hover {
    transform: skewY(2deg);
    text-shadow: 0.5rem 1rem 2rem rgba(17, 17, 17, 0.2);
    cursor: pointer; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 2.5rem;
      margin-bottom: 2rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.2rem;
      margin-bottom: 2rem; } }

.teritary-heading {
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem;
  text-transform: capitalize; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center;
  backface-visibility: hidden; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

@keyframes moveInleft {
  0% {
    opacity: 0;
    transform: translate(-100px); }
  80% {
    transform: translate(30px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translate(100px); }
  80% {
    transform: translate(-30px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(-100px); }
  80% {
    transform: translateY(20px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.btn, .btn:link, .btn:visited {
  margin-top: 2rem;
  text-decoration: none;
  font-size: 1.6rem;
  padding: 1.5rem;
  color: #222;
  border-radius: 50px;
  display: inline-block;
  animation: moveInUp 1.2s ease-in-out;
  position: relative;
  border: none;
  cursor: pointer; }

.btn:hover {
  background-color: #ccc;
  transition: all 0.2s;
  box-shadow: 0 10px 20px #111;
  transform: translateY(-3px); }

.btn-white {
  background-color: #fff;
  color: #222; }

.btn::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn-white::after {
  background-color: #fff; }

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

.btn-text:link, .btn-text:visited {
  color: rgba(139, 240, 121, 0.856);
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid rgba(64, 214, 114, 0.539);
  font-size: 1.6rem;
  padding: 3px;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: rgba(139, 240, 121, 0.856);
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(17, 17, 17, 0.15);
  transform: translateY(-3px);
  border: none; }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.15);
  transform: translateY(3px); }

.composition {
  position: relative; }
  .composition_photo {
    width: 55%;
    box-shadow: 0 1rem 2rem rgba(17, 17, 17, 0.5);
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 2rem; }
    @media (max-width: 56.25em) {
      .composition_photo {
        float: left;
        position: relative;
        width: 33.33333%;
        box-shadow: 0 1rem 2rem rgba(17, 17, 17, 0.2); } }
    .composition_photo_p1 {
      top: -2rem;
      left: 0; }
      @media (max-width: 56.25em) {
        .composition_photo_p1 {
          top: 0;
          transform: scale(1.2); } }
    .composition_photo_p2 {
      top: 2rem;
      right: 0; }
      @media (max-width: 56.25em) {
        .composition_photo_p2 {
          top: -1rem;
          transform: scale(1.3);
          z-index: 100; } }
    .composition_photo_p3 {
      top: 10rem;
      left: 20%; }
      @media (max-width: 56.25em) {
        .composition_photo_p3 {
          top: 1rem;
          left: 0;
          transform: scale(1.1); } }
    .composition_photo:hover {
      transform: scale(1.05);
      box-shadow: 0 2rem 4rem rgba(17, 17, 17, 0.5);
      z-index: 20;
      outline: 1.5rem solid #087f5b;
      transform: scale(-2rem); }
  .composition:hover .composition_photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: #fff;
  font-size: 1.2rem;
  padding: 2rem;
  text-align: center;
  border-radius: 2px;
  box-shadow: 0 1rem 3rem rgba(17, 17, 17, 0.5);
  transition: all 0.5s ease-in-out; }
  @media (max-width: 56.25em) {
    .feature-box {
      padding: 1.5rem; } }
  .feature-box_icon {
    font-size: 5rem;
    background-image: linear-gradient(to right, rgba(139, 240, 121, 0.856), rgba(64, 214, 114, 0.539));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; }
    @media (max-width: 56.25em) {
      .feature-box_icon {
        margin: 0; } }
  .feature-box_text {
    font-size: 1.4rem;
    color: #111;
    text-transform: capitalize; }
  .feature-box:hover {
    transform: translateY(-20px);
    cursor: pointer; }

.heading-teritary {
  text-transform: uppercase;
  font-size: 1.3rem; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem; }
  .card__side {
    height: 50rem;
    transition: all 2s ease;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1rem 3rem rgba(17, 17, 17, 0.15);
    overflow: hidden; }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background: #373b44;
        background: -webkit-linear-gradient(to right bottom, #4286f4, #373b44);
        background: linear-gradient(to right bottom, #4286f4, #373b44); }
      .card__side--back-2 {
        background: #000000;
        background: -webkit-linear-gradient(to right bottom, #0f9b0f, #000000);
        background: linear-gradient(to right bottom, #0f9b0f, #000000); }
      .card__side--back-3 {
        background: #2193b0;
        background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
        background: linear-gradient(to right, #6dd5ed, #2193b0); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #4286f4, #373b44), url("../../img/nat-5.jpg");
      background-blend-mode: screen; }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #0f9b0f, #000000), url("../../img/nat-6.jpg");
      background-blend-mode: screen; }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #6dd5ed, #2193b0), url("../../img/nat-7.jpg");
      background-blend-mode: screen; }
  .card__heading {
    font-size: 2.8rem;
    text-transform: uppercase;
    font-weight: 300;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    text-align: right;
    width: 75%; }
  .card__heading-span {
    padding: 1rem;
    padding-left: 1rem;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, #4286f4, #373b44); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, #0f9b0f, #000000); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, #6dd5ed, #2193b0); }
  .card__details {
    padding-top: 3rem; }
    .card__details ul {
      list-style: none;
      width: 90%;
      margin: 0 auto; }
      .card__details ul li {
        color: #373b44;
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #373b44; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .card__price-box {
    margin-bottom: 2rem; }
  .card__price-only {
    font-size: 2rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: 300; }
  .card__price-value {
    font-size: 6rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: 100; }

.story {
  width: 75%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.6);
  margin-bottom: 3rem;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg);
  backface-visibility: hidden; }
  @media (max-width: 56.25em) {
    .story {
      width: 100%;
      padding: 4rem;
      padding-left: 7rem; } }
  @media (max-width: 37.5em) {
    .story {
      transform: skewX(0); } }
  .story > * {
    transform: skewX(12deg); }
    @media (max-width: 37.5em) {
      .story > * {
        transform: skewX(0); } }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative; }
    @media (max-width: 37.5em) {
      .story__shape {
        transform: translateX(-3rem) skewX(0); } }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    opacity: 0;
    transition: all 0.4s ease-in; }
  .story__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    transition: all 0.6s;
    backface-visibility: hidden; }
  .story__text {
    color: #222;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(8px) brightness(80%);
    transition: all 0.6s; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.12;
  backface-visibility: hidden; }
  .bg-video-content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  color: inherit;
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  font-family: inherit;
  text-transform: uppercase;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block; }
  @media (max-width: 56.25em) {
    .form__input {
      width: 100%; } }
  .form__input::-webkit-input-placeholder {
    color: #10b981; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 2rem 3rem rgba(17, 17, 17, 0.1);
    border-bottom: 3px solid #10b981;
    transition: all 1s; }
  .form__input:focus:invalid {
    border-bottom: 3px solid red; }

.form__label {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 900;
  margin-left: 2rem;
  margin-top: 1.7rem;
  display: block;
  transition: all 0.6s ease-in-out;
  transform: translateY(-5px); }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio_group {
  width: 49%;
  display: inline-block; }
  @media (max-width: 56.25em) {
    .form__radio_group {
      width: 100%;
      margin-bottom: 2rem; } }

.form__radio_label {
  font-size: 1.4rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem; }

.form__radio_btn {
  height: 3rem;
  width: 3rem;
  border: 5px solid #10b981;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: -0.4rem;
  left: 0%; }
  .form__radio_btn::after {
    content: '';
    height: 1.3rem;
    width: 1.3rem;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #10b981;
    opacity: 0; }

.form__radio_input:checked ~ .form__radio_label .form__radio_btn::after {
  opacity: 1;
  transition: all 1s; }

.form__radio_input {
  display: none; }

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(139, 240, 121, 0.856), rgba(64, 214, 114, 0.539)), url("../img/hero-small.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 77vh, 0 100%); }
  @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 1500px) {
    .header {
      background-image: linear-gradient(to right bottom, rgba(139, 240, 121, 0.856), rgba(64, 214, 114, 0.539)), url("../img/hero.jpg"); } }
  @media (max-width: 37.5em) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 87vh, 0 100%); } }
  @media (max-width: 56.25em) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 87vh, 0 100%); } }
  .header_box {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header_main {
    font-size: 7rem;
    font-weight: normal;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 50px;
    display: block;
    animation: moveInleft 1.2s ease-in-out; }
    @media (max-width: 56.25em) {
      .header_main {
        letter-spacing: 2rem;
        font-size: 6rem; } }
    @media (max-width: 37.5em) {
      .header_main {
        font-size: 4rem;
        letter-spacing: 1rem; } }
  .header_sub {
    font-size: 2rem;
    font-weight: normal;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 25px;
    display: block;
    animation: moveInRight 1.2s ease-in-out; }
    @media (max-width: 56.25em) {
      .header_sub {
        letter-spacing: 0.5rem;
        font-size: 1.5rem; } }
  .header_logo_box {
    position: absolute;
    top: 40px;
    left: 40px; }
    @media (max-width: 56.25em) {
      .header_logo_box {
        top: 25px;
        left: 30px; } }
  .header_logo_img {
    height: 4rem; }

.footer {
  padding: 15rem 0;
  background-color: #27272a; }
  .footer_logo_box {
    text-align: center;
    margin-bottom: 5rem; }
  .footer_logo {
    height: 10rem; }
  .footer_navigation {
    border-top: 2px solid #fff; }
    @media (max-width: 56.25em) {
      .footer_navigation {
        font-size: 1.5rem;
        text-align: center; } }
  .footer_list {
    list-style: none;
    margin-top: 1rem; }
  .footer_item {
    display: inline-block; }
    .footer_item:not(:last-child) {
      margin-right: 2rem; }
    .footer_item:hover {
      transform: scaleY(2deg); }
  .footer_link {
    text-decoration: none;
    color: #fff; }
    .footer_link:hover {
      color: #ccc; }
  .footer_copyright {
    border-top: 2px solid #fff; }
    @media (max-width: 56.25em) {
      .footer_copyright {
        font-size: 1.5rem;
        text-align: center; } }

.row {
  max-width: 110rem;
  margin: 0 auto; }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 2rem; } }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row [class^='col'] {
    float: left; }
    .row [class^='col']:not(:last-child) {
      margin-right: 10rem; }
      @media (max-width: 56.25em) {
        .row [class^='col']:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^='col'] {
        width: 100% !important; } }
  .row .col1-of-2 {
    width: calc((100% - 10rem) / 2); }
  .row .col1-of-3 {
    width: calc((100% - 2 *10rem) / 3); }
  .row .col1-of-4 {
    width: calc((100% - 3 *10rem) / 4); }
  .row .col2-of-3 {
    width: calc( 2 * ((100% - 2 *10rem) / 3) + 10rem); }
  .row .col2-of-4 {
    width: calc( 3 * ((100% - 3 *10rem) / 4) + 2 * 10rem); }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 5.9rem;
  z-index: 2000;
  text-align: center;
  margin-top: -2rem;
  cursor: pointer; }
  @media (max-width: 56.25em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }

.navigation__checkbox {
  display: none; }

.navigation__background {
  height: 6.5rem;
  width: 6.5rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6rem;
  background-image: radial-gradient(#1d976c, #93f9b9);
  z-index: 1000;
  transition: transform 1s cubic-bezier(0.11, 0, 0.5, 0);
  margin-top: -2rem; }
  @media (max-width: 56.25em) {
    .navigation__background {
      top: 4rem;
      right: 4rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.11, 0, 0.5, 0); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  width: 100%;
  text-align: center; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #24243e 50%);
  background-size: 220%;
  transition: all 1s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  width: 100%;
  opacity: 1; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  transform: rotate(135deg);
  top: 0; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  transform: rotate(225deg);
  top: 0; }

.navigation__icon {
  position: relative;
  margin-top: 3.2rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 4rem;
    height: 2px;
    background-color: #1d976c;
    display: inline-block; }
  .navigation__icon::after, .navigation__icon::before {
    content: '';
    position: absolute;
    left: 0;
    right: inherit;
    transition: all 0.2s; }
  .navigation__icon::after {
    top: 0.8rem; }
  .navigation__icon::before {
    top: -0.8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.section_about {
  background-color: #f7f7f7;
  padding: 35rem 0;
  margin-top: -20vh; }
  @media (max-width: 56.25em) {
    .section_about {
      padding: 20rem 0; } }

.section_features {
  margin-top: -20vh;
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(139, 240, 121, 0.856), rgba(64, 214, 114, 0.539)), url("../img/hero-small.jpg");
  background-size: cover;
  background-position: top;
  transform: skewY(-7deg); }
  @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 1500px) {
    .section_features {
      background-image: linear-gradient(to right bottom, rgba(139, 240, 121, 0.856), rgba(64, 214, 114, 0.539)), url("../img/hero.jpg"); } }
  .section_features > * {
    transform: skewY(7deg); }
  @media (max-width: 56.25em) {
    .section_features {
      padding: 15rem 0; } }

.section_tours {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -20vh; }
  @media (max-width: 56.25em) {
    .section_tours {
      padding: 20rem 0 10rem 0; } }

.section_stories {
  padding: 15rem 0;
  position: relative; }
  @media (max-width: 56.25em) {
    .section_stories {
      padding: 10rem 0; } }

.section__book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, rgba(139, 240, 121, 0.856), rgba(64, 214, 114, 0.539)); }
  @media (max-width: 56.25em) {
    .section__book {
      padding: 10rem 0; } }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.847) 0%, rgba(252, 252, 252, 0.916) 50%, transparent 50%), url("../../img/nat-10.jpg");
  background-size: 100%;
  box-shadow: 0 2rem 6rem rgba(17, 17, 17, 0.15); }
  @media (max-width: 75em) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.847) 0%, rgba(252, 252, 252, 0.916) 65%, transparent 65%), url("../../img/nat-10.jpg");
      background-size: cover; } }
  @media (max-width: 56.25em) {
    .book {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.847) 0%, rgba(252, 252, 252, 0.916) 100%), url("../../img/nat-10.jpg");
      background-size: cover; } }
  .book__form {
    width: 50%;
    padding: 6rem; }
    @media (max-width: 75em) {
      .book__form {
        width: 65%; } }
    @media (max-width: 56.25em) {
      .book__form {
        width: 100%; } }
