$color-primary: rgba(139, 240, 121, 0.856);
$color-secondary: rgba(64, 214, 114, 0.539);
$color-light: #fff;
$color-dark: #111;
$color-red: red;
$color-grey: #222;
$color-grey-light: #f7f7f7;

$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 10rem;
$gutter-width: 110rem;

//default font size
$default-fontsize: 1.6rem;
