.feature-box {
  background-color: $color-light;
  font-size: 1.2rem;
  padding: 2rem;

  text-align: center;
  border-radius: 2px;
  box-shadow: 0 1rem 3rem rgba($color-dark, 0.5);
  transition: all 0.5s ease-in-out;

  @include respond(TAB-PORT) {
    padding: 1.5rem;
  }

  &_icon {
    font-size: 5rem;
    background-image: linear-gradient(
      to right,
      $color-primary,
      $color-secondary
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    @include respond(TAB-PORT) {
      margin: 0;
    }
  }
  &_text {
    font-size: 1.4rem;
    color: $color-dark;
    text-transform: capitalize;
  }
  &:hover {
    transform: translateY(-20px);

    cursor: pointer;
  }
}

.heading-teritary {
  text-transform: uppercase;
  font-size: 1.3rem;
}
