@keyframes moveInleft {
  0% {
    opacity: 0;
    transform: translate(-100px);
  }
  80% {
    transform: translate(30px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translate(100px);
  }
  80% {
    transform: translate(-30px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  80% {
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
