.section_about {
  background-color: $color-grey-light;
  padding: 35rem 0;
  margin-top: -20vh;

  @include respond(TAB-PORT) {
    padding: 20rem 0;
  }
}

.section_features {
  margin-top: -20vh;
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      $color-primary,
      $color-secondary
    ),
    url('../img/hero-small.jpg');
  background-size: cover;
  background-position: top;

  transform: skewY(-7deg);

  @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 1500px) {
    background-image: linear-gradient(
        to right bottom,
        $color-primary,
        $color-secondary
      ),
      url('../img/hero.jpg');
  }

  & > * {
    transform: skewY(7deg);
  }
  @include respond(TAB-PORT) {
    padding: 15rem 0;
  }
}

.section_tours {
  background-color: $color-grey-light;
  padding: 25rem 0 15rem 0;
  margin-top: -20vh;
  @include respond(TAB-PORT) {
    padding: 20rem 0 10rem 0;
  }
}

.section_stories {
  padding: 15rem 0;

  position: relative;
  @include respond(TAB-PORT) {
    padding: 10rem 0;
  }
}

.section__book {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    $color-primary,
    $color-secondary
  );
  @include respond(TAB-PORT) {
    padding: 10rem 0;
  }
}
.book {
  background-image: linear-gradient(
      105deg,
      rgba(255, 255, 255, 0.847) 0%,
      rgba(252, 252, 252, 0.916) 50%,
      transparent 50%
    ),
    url('../../img/nat-10.jpg');

  background-size: 100%;

  @include respond(TAB-LAND) {
    background-image: linear-gradient(
        105deg,
        rgba(255, 255, 255, 0.847) 0%,
        rgba(252, 252, 252, 0.916) 65%,
        transparent 65%
      ),
      url('../../img/nat-10.jpg');
    background-size: cover;
  }
  @include respond(TAB-PORT) {
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.847) 0%,
        rgba(252, 252, 252, 0.916) 100%
      ),
      url('../../img/nat-10.jpg');
    background-size: cover;
  }

  box-shadow: 0 2rem 6rem rgba($color-dark, 0.15);

  &__form {
    width: 50%;
    padding: 6rem;

    @include respond(TAB-LAND) {
      width: 65%;
    }
    @include respond(TAB-PORT) {
      width: 100%;
    }
  }
}
